.contact-section {
  width: 100%;
  height: 100%;
  align-items: center;
  padding-bottom: 160px;
  margin-bottom: 50px;
}

.contact-container {
  border-left: 2px solid red;
  border-bottom: 2px solid red;
  -webkit-box-shadow: -11px 12px 5px 0px rgba(0,0,0,0.36);
-moz-box-shadow: -11px 12px 5px 0px rgba(0,0,0,0.36);
box-shadow: -11px 12px 5px 0px rgba(0,0,0,0.36);
}

.contactfrom-div {
  position: relative;

}

.contact-heading {
color: #ffffff;
}

.contactfrom-div2 {
  position: relative;
  top: 40%;
  left: 30%;
  transform: translate(-50%,-50%);
  text-align: center;
  margin-top: 11px;
}

.contactfrom-div2 {
  position: relative;
  top: 40%;
  left: 44%;
  transform: translate(-50%,-50%);
  text-align: center;
  margin-top: 11px;
}

.formgroup-contact {
  
  margin: 60px 0px;

}

.col-contact {
  border: 2px red solid;
  -webkit-box-shadow: -11px 12px 5px 0px rgba(0,0,0,0.36);
-moz-box-shadow: -11px 12px 5px 0px rgba(0,0,0,0.36);
box-shadow: -11px 12px 5px 0px rgba(0,0,0,0.36);
}

.contact-button {
  background: #d9345d;
  background-image: -webkit-linear-gradient(top, #d9345d, #b82b9e);
  background-image: -moz-linear-gradient(top, #d9345d, #b82b9e);
  background-image: -ms-linear-gradient(top, #d9345d, #b82b9e);
  background-image: -o-linear-gradient(top, #d9345d, #b82b9e);
  background-image: linear-gradient(to bottom, #d9345d, #b82b9e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: #ffffff;
  font-size: 20px;
  padding:10px 28px ;
  border: solid #6a177d 2px;
  text-decoration: none;
  margin-bottom: 10px;
}

.contact-button:hover {
  background: #e61c30;
  background-image: -webkit-linear-gradient(top, #e61c30, #ed0964);
  background-image: -moz-linear-gradient(top, #e61c30, #ed0964);
  background-image: -ms-linear-gradient(top, #e61c30, #ed0964);
  background-image: -o-linear-gradient(top, #e61c30, #ed0964);
  background-image: linear-gradient(to bottom, #e61c30, #ed0964);
  text-decoration: none;
}

.icon-contact {
  border-radius: 30px;
  border: 3px red solid;
  margin-left:70px ;
  margin-top: 18px;
}

.contact-information-div {
  border: 3px solid rgb(180, 16, 63);
  padding: 10px;
  margin-bottom: 10px;
}

.contact-col1 {
  border-right: 4px solid red;
}

.contact-paragraph-left {
  color: aliceblue;
}